@model ModelAPI.Product

@{
    ViewData["Title"] = "Edit Product";
}

<h1>Edit Product</h1>

<form asp-action="Edit" method="post">
    <div>
        <input type="hidden" id="ProductId" name="ProductId" value="@Model.ProductId">
    </div>
    <div>
        <label for="ProductName">Name:</label>
        <input type="text" id="ProductName" name="ProductName" value="@Model.ProductName" required>
    </div>
    <div>
        <label for="ProductPrice">Price:</label>
        <input type="text" id="ProductPrice" name="ProductPrice" value="@Model.ProductPrice" required>
    </div>
    <div>
        <label for="ProductDescription">Description:</label>
        <input type="text" id="ProductDescription" name="ProductDescription" value="@Model.ProductDescription" required>
    </div>
    <button type="submit">Save Changes</button>
</form>
<a href="/Product">Back to List</a>
